---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SocialLinks } from "../components/SocialLinks";

const content = {
  header: {
    title: "Alisson de Oliveira",
    subTitle: "Tech Lead ☀️ & Game Dev 🌑",
    pictureSrc: "assets/profile_pic.jpg",
    pictureAlt: "Alisson Oliveira",
  },
  buttons: [
    { link: "/games", text: "Game Portfolio" },
    { link: "/blog", text: "My blog" },
    { link: "/dev", text: "Curriculum" },
    { link: "/contact", text: "Let's chat!" },
  ],
  socialLinks: [
    { text: "Github", href: "https://github.com/alissonmdo" },
    { text: "Linkedin", href: "https://www.linkedin.com/in/alissonmdo" },
    { text: "Twitter", href: "https://twitter.com/alissonmdo" },
    { text: "Twitch", href: "https://twitch.tv/alissonmdo" },
  ],
  footerText: "Made with love in Brazil.",
};
---

<Layout
  title="alissonmdo's tiny planet"
  description="Hi, I'm a software engineer based on Brazil and this is my own little planet on the cyberspace"
>
  <main class="main-app">
    <Header
      title={content.header.title}
      subTitle={content.header.subTitle}
      pictureSrc={content.header.pictureSrc}
      pictureAlt={content.header.pictureAlt}
    />
    {
      content.buttons.map((link) => (
        <Button link={link.link} text={link.text} />
      ))
    }
    <SocialLinks links={content.socialLinks} />
    <Footer text={content.footerText} />
  </main>

  <style>
    .main-app {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      max-width: 450px;
      height: 100vh;
      padding-top: 10px;
      padding-bottom: 15vh;
      margin: 0 auto;
    }
  </style>
</Layout>
